.navbar{
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.9);
    height: 25px;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: red;
}

.link.active{
    color: red;
}

.logo{
    margin-left: 160px;
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;

}
.link{
    color: black;
    text-decoration: none;
    margin-right: 13px;
    margin-left: 13px;
}

.nav-links{
    margin-right: 50px;
}
