body{
    height: 85vh;
    width: 100vw;
    background-image: url(musicBack.jpg);
    margin: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    text-align: center;
}

.button{
    height: 80px;
    width: 200px;
    border-radius: 5px;
    background-color: red;
    font-size: 25px;
    color:white;
    margin-top: 10vh;
    shape-margin: 50px;
    cursor: pointer;
    outline: none;
    font-family: 'Kaushan Script', cursive;
}

.button:hover{
    transform: scale(1.1);
    transition: 500ms;
}

.welcomeText{
    font-family: 'Kaushan Script', cursive;
    font-size: 80px;
    margin-top: 100px;
}

.page{
    color: red;
}

.search-now{
    color: black
}

.introduction{
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
}